*{
    box-sizing: border-box;
}
.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}

#outer-box{
    background: red;
    border: 3px solid red;
    /*padding: 50px 100px 50px 50px;*/
    /*padding-left: 100px;*/
    padding: 5px;
    width: 500px;
    margin: 0 auto;
    
    
    /*margin: 40px 100px;*/
    /*width: 50%;*/
    /*height: 550px;*/
    /*overflow: hidden;*/

    /*height: 300px;*/
    /*width: 900px;*/
    /*margin: 0 auto;*/
}
#inner-box{
    background: #ccc;
    text-align: justify;
    /*width: 75%;*/
    
    /*margin: 0 auto;*/
    /*text-align: center;*/
}
#inner-box2{
    background: red;
    width: 75%;
    /*margin: 0 auto;*/
    /*text-align: center;*/
}

img{
    float: right;
    /*padding: 6px;*/
    padding-bottom: 40px;
    max-width: 100%;
    /*width: 80%;*/
}
p{

}

/*Box sizing example*/
#box1{
    border: 34px solid red;
    width: 400px;
    padding: 50px; 
    /*margin: 50px;*/
}
#box2{
    border: 2px solid blue;
      width: 400px;
}

