<!DOCTYPE html >
<html>
    <head>
      <title>Box model</title>   
      <link href="box.css" rel="stylesheet" />
    </head>
    <body>
      <div id="outer-box">
    
      
      <img src="sad-pizza.jpg" />
        <!--<div id="inner-box">-->
          
          Pizza is a flatbread generally topped with tomato sauce and cheese and baked in an oven. It is commonly topped with a selection of meats, vegetables and condiments.
        WASHINGTON — Donald J. Trump has refused again to acknowledge that President Obama was born in the United States, reviving the so-called birther issue that the Republican presidential nominee has played down since announcing his campaign last year.

The resurfacing of Mr. Trump’s doubts about Mr. Obama’s birthplace — in an interview with The Washington Post that was published on Thursday — comes less than two months before the general election and as he has been working more aggressively to court minority voters.

Late Thursday, in an effort at damage control, a Trump spokesman issued a statement saying that “Mr. Trump believes that President Obama was born in the United States.”

But the statement, by Jason Miller, a senior communications adviser, goes on to falsely blame Hillary Clinton for starting rumors about Mr. Obama’s birth in the 2008 campaign, and it then called her “weak” for not getting the question answered.

The statement actually credits Mr. Trump for settling the issue, saying — again falsely — that he “obtained” Mr. Obama’s birth certificate, which the president released in 2011.

“Mr. Trump did a great service to the President and the country by bringing closure to the issue that Hillary Clinton and her team first 
          <!--<div id="inner-box2">-->
          <!--  More stuff about pizza.-->
          <!--</div>-->
      <!--</div>-->
      <span class="clearfix"></span>
     
      <!-- <p>
          Pizza is a flatbread generally topped with tomato sauce and cheese and baked in an oven. It is commonly topped with a selection of meats, vegetables and condiments. The term was first recorded in the 10th century, in a Latin manuscript from Gaeta in Central Italy.[1] The modern pizza was invented in Naples, Italy, and the dish and its variants have since become popular in many areas of the world.[2]

In 2009, upon Italy's request, Neapolitan pizza was safeguarded in the European Union as a Traditional Speciality Guaranteed dish.[3][4] The Associazione Verace Pizza Napoletana (the True Neapolitan Pizza Association) is a non-profit organization founded in 1984 with headquarters in Naples. It promotes and protects the "true Neapolitan pizza".[5]

Pizza is sold fresh or frozen, either whole or in portions, and is a common fast food item in Europe and North America.[6] Various types of ovens are used to cook them and many varieties exist. Several similar dishes are prepared from ingredients commonly used in pizza preparation, such as calzone and stromboli.
      </p> -->
      
      <!--<div id="box1">-->
      <!--    box 1-->
      <!--</div>-->
      <!--<div id="box2">-->
      <!--    box 2-->
      <!--</div>-->
    </body>
    
</html>