<!DOCTYPE html >
<html>
    <head>
      <title>Box model</title>   
      <link href="layout.css" rel="stylesheet" />
    </head>
    <body>
         <header class="clearfix">
           <div id="brand">
               <div id="logo">Logo</div> 
               Brand name
           </div>
           <div id="avatar">Avatar</div> 
       </header>
     <div id="wrapper">
      
       <main>
           WASHINGTON — Donald J. Trump publicly retreated from his “birther” campaign on Friday, acknowledging that President Obama was born in the United States and saying that he wanted to move on from the conspiracy theory that he has been clinging to for years.

Marking a sharp reversal from his previous position, Mr. Trump, the Republican presidential nominee, said in a campaign appearance that he was now satisfied that Mr. Obama was born in Hawaii.

“President Barack Obama was born in the United States, period,” Mr. Trump said at his new Trump International Hotel. “Now, we all want to get back to making America strong and great again.”

Mr. Trump also falsely accused Hillary Clinton of having first raised questions about Mr. Obama’s birthplace during the 2008 Democratic primary.

“Hillary Clinton and her campaign of 2008 started the birther controversy,” Mr. Trump said. “I finished it.”


       </main>
       <aside>
          Sidebar
       </aside>
        <div class="clearfix"></div>
       <footer>
         Footer
       </footer>
      </div>
    </body>
    
</html>